<a class="hero-banner" href="{{ project.url | relative_url }}" style="background-image: {{ project.image_path | relative_url }}">
  <img style="width: 100%" src="{{ project.image_path | relative_url }}" alt="art for the mind of gods">
</a>
{% comment %}<a class="hero-banner--mobile" href="{{ project.url | relative_url }}" style="background-image: {{ project.image_path | relative_url }}">{% endcomment %}
  {% comment %}<img style="width: 100%" src="{{ project.image_path | relative_url }}" alt="art for the mind of gods">{% endcomment %}
{% comment %}</a>{% endcomment %}
